.nested-fields.well.well-compact
  .form-inline
    = f.input :price, label: false, class: 'form-control'
    = f.input :item_id, as: :select,collection: Item.all, label_method: :name, value_method: :id, label: false, class: 'form-control'
    = link_to_remove_association f, class: 'btn btn-default btn-xs' do
      .glyphicon.glyphicon-remove
