%h1.text-center
  = t('.title')

%ul.nav.nav-tabs
  - @facade.week_menus.each do |menu|
    %li.nav-item
      %a.nav-link{ href: menu_path(menu.id) }= menu.name

.text-center
  - if current_user.lunch_admin?
    %a.btn.btn-primary{ href: new_menu_path }= t('.buttons.new')
