%h1= t('activerecord.models.user.other')
%table
  %thead
    %tr
      %th= t('activerecord.attributes.user.email')
      %th{ colspan: "3" }
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
%br/
