<p id="notice"><%= notice %></p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to t('actions.edit'), edit_user_path(@user) %> |
<%= link_to t('actions.back'), users_path %>
