= form_tag orders_path, method: :get do
  .form-group.col-md-8
    = text_field_tag :created_at, nil, name: :created_at, data: { provide: :datepicker }, class: 'form-control'
  = submit_tag t('submit'), class: 'btn btn-primary'

