%footer.mt-auto
  .navbar.navbar-light.bg-light.fixed-bottom.pt-3.pb-3
    .container.nav.justify-content-center
      .text-muted
        = t('.copyright', year: Date.current.year)
        = t('.author')